<!DOCTYPE html>
<html>

<head>
    <title>Upload multiple New Files</title>
</head>

<body>
    <h1>Upload multiple files</h1>
    <a href="/">GO Home</a>
    <BR/><BR/>
    <form action="/api/datareceivermulti" method="post" enctype="multipart/form-data">

        <label for="fname">First Name:</label>
        <input type = "text" name = "fname" value="" size="64"/>
        <BR/><BR/>
        <label for="mname">SoName:</label>
        <input type = "text" name = "mname" value="" size="64"/>
        <BR/><BR/>
        <label for="lname">LastName:</label>
        <input type = "text" name = "lname" value="" size="64"/>
        <BR/><BR/>
        <label for="file">Chose some number  of files for uploading and press "Upload":</label>
        <input type="file" name="file" multiple>
        <input type="submit" value="Upload">
    </form>

</body>

</html>